<section id="hero" class="hero section">
	<div class="hero-bg">
		<img src="~/QuickStart-1.0.0/assets/img/hero-bg-light.webp" alt="">
	</div>
	<div class="container text-center">
		<div class="d-flex flex-column justify-content-center align-items-center">
			<h1 data-aos="fade-up">QuickStart'a <span>Hoşgeldiniz</span></h1>
			<p data-aos="fade-up" data-aos-delay="100">Quickly start your project now and set the stage for success<br></p>
			<div class="d-flex" data-aos="fade-up" data-aos-delay="200">
				<a href="#about" class="btn-get-started">Başlarken</a>
				<a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Videoyu İzle</span></a>
			</div>
			<img src="~/QuickStart-1.0.0/assets/img/hero-services-img.webp" class="img-fluid hero-img" alt="" data-aos="zoom-out" data-aos-delay="300">
		</div>
	</div>

</section>