<header class="h-16 border-b border-gray-800 bg-dark-bg-card flex items-center justify-between px-8 shrink-0">
	<div class="relative w-96">
		<i class="mdi mdi-magnify absolute left-3 top-1/2 -translate-y-1/2 text-gray-500"></i>
		<input class="w-full bg-dark-bg-deep border-gray-700 rounded-custom pl-10 pr-4 py-2 text-sm focus:ring-accent-blue focus:border-accent-blue text-gray-300" placeholder="Ara..." type="text" />
	</div>
	<div class="flex items-center gap-6">
		<div class="flex items-center gap-4 text-gray-400">
			<button class="relative hover:text-white transition-colors">
				<i class="mdi mdi-message-text-outline text-xl"></i>
				<span class="absolute -top-1 -right-1 w-2 h-2 bg-accent-purple rounded-full"></span>
			</button>
			<button class="relative hover:text-white transition-colors">
				<i class="mdi mdi-bell-outline text-xl"></i>
				<span class="absolute -top-1 -right-1 w-2 h-2 bg-accent-blue rounded-full"></span>
			</button>
		</div>
		<div class="h-8 w-px bg-gray-800"></div>
		<div class="flex items-center gap-3">
			<div class="text-right hidden sm:block">
				<p class="text-sm font-medium text-white">Yunus Emre Kaymakcı</p>
				<p class="text-[10px] text-gray-500 font-bold uppercase tracking-wider">Super Admin</p>
			</div>
			<img alt="Profile" class="w-10 h-10 rounded-full border-2 border-accent-blue/30 p-0.5" src="https://lh3.googleusercontent.com/aida-public/AB6AXuD-2xeS0svZi8DKR5bjYQBmDIoZhtElKc8W2VKFoM5emrs-OIeClcesWfnxXnTdGP7DYMBH9axdCuS2p9gwlgVdjRoW5TBdkMr1EiRUspV6j5rEEjkHn1_HU4Ynjv5CPikSxYFEWMMalEQL2PV1PZ2Pjtsk47Efkw_vn534fOIxScJBn6EFfi2ee-OIY58irDlk5a9ipwgVL1SZ9BhgUmsvOWRWw67ESrra66PR6EwPAnv8po640xPY3HUfNsgc-w-qLkOfXV29pxjh" />
		</div>
	</div>
</header>