@model QuickStart.WebUI.Models.FooterViewModel

<footer id="footer" class="footer position-relative light-background">
	<div class="container footer-top">
		<div class="row gy-4">

			<div class="col-lg-4 col-md-6 footer-about">
				<a href="index.html" class="logo d-flex align-items-center">
					<span class="sitename">QuickStart</span>
				</a>
				<div class="footer-contact pt-3">
					<p>@Model.Contact?.Address</p>
					<p class="mt-3"><strong>Phone:</strong> <span>@Model.Contact?.PhoneNumber</span></p>
					<p><strong>Email:</strong> <span>@Model.Contact?.Email</span></p>
				</div>
			</div>

			<div class="col-lg-2 col-md-3 footer-links">
			</div>

			<div class="col-lg-2 col-md-3 footer-links">
				<h4>Hizmetlerimiz</h4>
				<ul>
					@if (Model.Services != null)
					{
						@foreach (var item in Model.Services)
						{
							<li><a href="#">@item.Title</a></li>
						}
					}
				</ul>
			</div>

			<div class="col-lg-4 col-md-12 footer-newsletter">
				<h4>Bültenimiz</h4>
				<p>Ürünlerimiz ve hizmetlerimizle ilgili en son haberleri almak için bültenimize abone olun!</p>

				<form asp-controller="Subscribe" asp-action="AddSubscriber" method="post">
					<div class="newsletter-form">
						<input type="email" name="Email" required placeholder="E-posta Adresiniz">
						<input type="submit" value="Abone Ol">
					</div>
				</form>
			</div>

		</div>
	</div>
</footer>