
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")
<body>
    <div class="container-scroller">
        @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")
        <div class="container-fluid page-body-wrapper">

            @await Component.InvokeAsync("_AdminLayoutNavbarComponentPartial")
            <div class="main-panel">
                <div class="content-wrapper pb-0">
                    @RenderBody()
                </div>
                @await Component.InvokeAsync("_AdminLayoutFooterComponentPartial")
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper end s -->
    </div>
    <!-- container-scroller -->
    @await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")
</body>
</html>
