@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")

<body class="flex h-screen overflow-hidden">
	@await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")

	<main class="flex-1 flex flex-col overflow-hidden">

		@await Component.InvokeAsync("_AdminLayoutNavbarComponentPartial")

		<div class="flex-1 overflow-y-auto p-6 md:p-8 space-y-6">
			@RenderBody()
		</div>

	</main>

	@await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>