@model List<QuickStart.WebUI.Dtos.Testimonials.ResultTestimonialDto>

<section id="testimonials" class="testimonials section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Müşterilerimiz</h2>
        <p>Müşterilerimizden gelen yorumları aşağıda inceleyebilirsiniz ...</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "breakpoints": {
                    "320": {
                      "slidesPerView": 1,
                      "spaceBetween": 40
                    },
                    "1200": {
                      "slidesPerView": 3,
                      "spaceBetween": 1
                    }
                  }
                }
            </script>
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                @item.description
                            </p>
                            <div class="profile mt-auto">
                                <img src="@item.imageUrl" alt="">
                                <h3>@item.fullName</h3>
                                <h4>@item.title</h4>
                            </div>
                        </div>
                    </div>

                    <!-- End testimonial item -->
                }




            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

</section>