@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/_AdminLayout/Index.cshtml";
}


<div class="content-wrapper pb-0">
	<div class="page-header flex-wrap">
		<h3 class="mb-0">
			İstatistik sayfasına hoşgeldiniz <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">Your web analytics dashboard template.</span>
		</h3>

	</div>
	<div class="row">
		<div class="col-xl-3 col-lg-12 stretch-card grid-margin">
			<div class="row">
				<div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
					<div class="card bg-warning">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Müşteriler</p>
									<h2 class="text-white">
										@ViewBag.TestimonialCount<span class="h5"></span>
									</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-plus-circle bg-inverse-icon-warning"></i>
							</div>
							<h6 class="text-white">Müşteri Sayısı</h6>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
					<div class="card bg-danger">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Hizmetler</p>
									<h2 class="text-white">
										@ViewBag.ServiceCount<span class="h5"></span>
									</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-cube-outline bg-inverse-icon-danger"></i>
							</div>
							<h6 class="text-white">Hizmetlerin Sayısı</h6>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
					<div class="card bg-primary">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Orders</p>
									<h2 class="text-white">
										$1,753.<span class="h5">00</span>
									</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-briefcase-outline bg-inverse-icon-primary"></i>
							</div>
							<h6 class="text-white">67.98% Since last month</h6>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-md-6 stretch-card pb-sm-3 pb-lg-0">
					<div class="card bg-success">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Affiliate</p>
									<h2 class="text-white">2368</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
							</div>
							<h6 class="text-white">20.32% Since last month</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-12 stretch-card grid-margin">
			<div class="row">
				<div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
					<div class="card bg-warning">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Sales</p>
									<h2 class="text-white">
										$8,753.<span class="h5">00</span>
									</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>
							</div>
							<h6 class="text-white">18.33% Since last month</h6>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
					<div class="card bg-danger">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Margin</p>
									<h2 class="text-white">
										$5,300.<span class="h5">00</span>
									</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-cube-outline bg-inverse-icon-danger"></i>
							</div>
							<h6 class="text-white">13.21% Since last month</h6>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
					<div class="card bg-primary">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Orders</p>
									<h2 class="text-white">
										$1,753.<span class="h5">00</span>
									</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-briefcase-outline bg-inverse-icon-primary"></i>
							</div>
							<h6 class="text-white">67.98% Since last month</h6>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-md-6 stretch-card pb-sm-3 pb-lg-0">
					<div class="card bg-success">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Affiliate</p>
									<h2 class="text-white">2368</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
							</div>
							<h6 class="text-white">20.32% Since last month</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-12 stretch-card grid-margin">
			<div class="row">
				<div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
					<div class="card bg-warning">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Sales</p>
									<h2 class="text-white">
										$8,753.<span class="h5">00</span>
									</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>
							</div>
							<h6 class="text-white">18.33% Since last month</h6>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
					<div class="card bg-danger">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Margin</p>
									<h2 class="text-white">
										$5,300.<span class="h5">00</span>
									</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-cube-outline bg-inverse-icon-danger"></i>
							</div>
							<h6 class="text-white">13.21% Since last month</h6>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
					<div class="card bg-primary">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Orders</p>
									<h2 class="text-white">
										$1,753.<span class="h5">00</span>
									</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-briefcase-outline bg-inverse-icon-primary"></i>
							</div>
							<h6 class="text-white">67.98% Since last month</h6>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-md-6 stretch-card pb-sm-3 pb-lg-0">
					<div class="card bg-success">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Affiliate</p>
									<h2 class="text-white">2368</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
							</div>
							<h6 class="text-white">20.32% Since last month</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-12 stretch-card grid-margin">
			<div class="row">
				<div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
					<div class="card bg-warning">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Sales</p>
									<h2 class="text-white">
										$8,753.<span class="h5">00</span>
									</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>
							</div>
							<h6 class="text-white">18.33% Since last month</h6>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
					<div class="card bg-danger">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Margin</p>
									<h2 class="text-white">
										$5,300.<span class="h5">00</span>
									</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-cube-outline bg-inverse-icon-danger"></i>
							</div>
							<h6 class="text-white">13.21% Since last month</h6>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
					<div class="card bg-primary">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Orders</p>
									<h2 class="text-white">
										$1,753.<span class="h5">00</span>
									</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-briefcase-outline bg-inverse-icon-primary"></i>
							</div>
							<h6 class="text-white">67.98% Since last month</h6>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-md-6 stretch-card pb-sm-3 pb-lg-0">
					<div class="card bg-success">
						<div class="card-body px-3 py-4">
							<div class="d-flex justify-content-between align-items-start">
								<div class="color-card">
									<p class="mb-0 color-card-head">Affiliate</p>
									<h2 class="text-white">2368</h2>
								</div>
								<i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
							</div>
							<h6 class="text-white">20.32% Since last month</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 stretch-card grid-margin">
		</div>
	</div>
</div>