<section id="featured-services" class="featured-services section light-background">

	<div class="container">

		<div class="row gy-4">

			<div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
				<div class="service-item d-flex">
					<div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
					<div>
						<h4 class="title"><a href="#" class="stretched-link">Lorem Ipsum</a></h4>
						<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
					</div>
				</div>
			</div>
			<!-- End Service Item -->

			<div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
				<div class="service-item d-flex">
					<div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
					<div>
						<h4 class="title"><a href="#" class="stretched-link">Dolor Sitema</a></h4>
						<p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exa</p>
					</div>
				</div>
			</div><!-- End Service Item -->

			<div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="300">
				<div class="service-item d-flex">
					<div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
					<div>
						<h4 class="title"><a href="#" class="stretched-link">Sed ut perspiciatis</a></h4>
						<p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
					</div>
				</div>
			</div><!-- End Service Item -->

		</div>

	</div>

</section>