@model QuickStart.WebUI.Dtos.Services.CreateServicesDto
@{
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /> <br />
    <form method="post">
        <label> Hizmet ismi </label>
        <input type="text" asp-for="title" class="form-control" />
        <br>
        <label> Hizmet Açıklaması</label>
        <input type="text" asp-for="description" class="form-control"/>
        <br />
        <label> İkon</label>
        <input type="text" asp-for="iconUrl" class="form-control" />
        <br />
        <button class="btn btn-primary"> Hizmeti Kaydet</button>

    </form>
</div>
